*{
    padding: 0%;
    margin:0% ;
}
.body{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.head{
    height: 43px;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    gap: 21px;
}
.Logo{
    height: 100%;
    width: 30px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Store{
    height: 100%;
    width: 45px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Mac{
    height: 100%;
    width: 45px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.iPad{
    height: 100%;
    width: 45px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.iPhone{
    height: 100%;
    width: 55px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Watch{
    height: 100%;
    width: 50px;
    background-color: rgb(255, 255, 255);  
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Vision{
    height: 100%;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.AirPods{
    
    height: 100%;
    width: 55px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.TVHome{
    height: 100%;
    width: 70px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Entertainment{
    height: 100%;
    width: 90px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Accessories{
    height: 100%;
    width: 90px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.Support{
    height: 100%;
    width: 50px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.search{
    height: 100%;
    width: 35px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.bag{
    height: 100%;
    width: 35px;
    background-color: rgb(255, 255, 255);
    display: flex ;
    justify-content: center;
    align-items: center;
}
.holiday{
    background-color: rgb(245, 245, 247);
    height:70%;
    width: 100%;
}
.deed{
    background-color: rgb(245, 245, 247);
    height: 43%;
    width: 100%;
}
.dood{
    background-color: rgb(245, 245, 247);
    height: 57%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tittle{
    background-color: rgb(245, 245, 247);
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
.bichver{
    background-color: rgb(245, 245, 247);
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tovch{
     background-color: rgb(245, 245, 247);
     height: 20%;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: flex-end;

}
.zurag1{
    height: 384px;
    width: screen;
}
.phone{
    margin-top: 15px;
    height: 70%;
    width: full;
    background: radial-gradient(
                circle, 
                #361a12 10%, /* Dark brown center */
                #000000 90%  /* Pure black edges */
            );
}
.title16{
    height: 12%;
    width: full;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hello{
    width: full;
    height: 7%;
    background-color:transparent;
    display: flex;
    justify-content: center;
}
.zahialga{
    width: 100%;
    height: 8%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.zurag{
    width: full;
    height: 73%;
    background: transparent;
    display: flex;
    justify-content: center;
}
.zurag2{
    width: 1200px;
}